<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Todo App</title>
  <link rel="stylesheet" href="./stylesheets/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
  <!-- Message box -->
  <div class="message-box">
    <h2 class="msg-text">Message</h2>
  </div>

  <main>
  <div class="textContainer">
    <h1 class="primary-text">Todo <span class="primary-text--strong">List</span></h1>
    <p class="sub-text">A simple to-do list app made with node Api</p>
  </div>
<center>
  <div class="form">
    <input type="text" placeholder="insert your text here...">
    <p class="enter">Press Enter</p>
  </dv>
</center>

<!-- Cards -->
<ul class="card-container">

</ul>

</main>

  <script src="./scripts/app.js"></script>
  <!-- Axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>